:root{
    /* Colors */
    --body-background: #EFEFEF;
    --united-nations-blue: hsl(214, 56%, 58%);
    --bright-navy-blue: hsl(214, 57%, 51%);
    --spanish-gray: hsl(0, 0%, 60%);
    --black-coral: hsl(225, 8%, 42%);
    --oxford-blue: hsl(208, 97%, 12%);
    --yale-blue: hsl(214, 72%, 33%);
    --blue-ncs: hsl(197, 100%, 36%);
    --blue-ncs-light: hsl(197deg 79% 76%);
    --gunmetal: hsl(206, 34%, 20%);
    --gainsboro: hsl(0, 0%, 88%);
    --cultured: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 25%);
    --jet: hsl(0, 0%, 20%);

    /* TypoGraphy */
    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-cursive: 'Shadows Into Light Two', cursive;
    --fs-1: calc(20px + 3.5vw);
    --fs-2: calc(18px + 1.6vw);
    --fs-3: calc(16px + 0.45vw);
    --fs-4: 15px;
    --fs-5: 14px;
    --fs-6: 13px;
    --fs-7: 12px;
    --fs-8: 11px;
    --fs-9: 10px;
    --fs-10: 9px;
    --fs-11: 8px;
    --fs-18:18px;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /* Transition */
    --transition: 0.25s ease-in-out;

    /* Margin */
    --inline-margin:auto;

    /* Padding */
    --inline-padding: 15px;
    --section-padding: 60px;

    /* Border-radius */
    --radius-15: 15px;
    --radius-30: 30px
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tag Css */
html{
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.7rem;

}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--united-nations-blue);
}

body{
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--body-background);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Comman tags */
section,footer{
  height: max-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding);
  transition: var(--transition);
  width: 100%;
  padding-top: 70px;
}

/* Section heading */
.sectionHeading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-800);
  color: var(--yale-blue);
  text-align: center;
  transition: var(--transition);
  z-index: 1;
}

.sectionAbout{
  padding-top: 20px;
  font-size: medium;
  text-align: center;
  color: var(--yale-blue);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

hr{
  width: 80%;
  text-align: center;
  opacity: 0.5;
}
/* Reused Css */
.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 { color: var(--gunmetal); }

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}
.upperCase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
/* box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1); */

/* GO TO TOP */

.go-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: var(--bright-navy-blue);
    color: var(--white);
    display: grid;
    place-items: center;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.7);
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
    transition: var(--transition);
    z-index: 100;
  }
  
  .go-top.active {
    opacity: 0.8;
    transform: translateY(0);
    visibility: visible;
  }
  
  .go-top:is(:hover, :focus) { opacity: 1; }
  
/* Gallery  */

/* Gallery */

.gallery{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  grid-template-rows: repeat(3,2fr);
  gap: 5px;
  width: 90%;
  margin-inline: auto;
  padding: 40px 40px;
}
.gallery-card-container{
  width: 100%;
  height: 300px;
}
.gallery-card-container:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}
.gallery-card-container:nth-child(10){
  grid-column-start: 3;
  grid-column-end: 5;
}
.gallery-image{
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.gallery img{
  height: 100%;
  width: 100%;
  transition: var(--transition);
  object-fit: cover;
  z-index: 1;
}
.special-gall-img{
  opacity: 0.5;
}

/* Slider */

.slide-container{
  max-width:1120px ;
  width: 100%;
  padding: 40px 40px; 
  /* padding indoubt */
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
}
.card{
  background: var(--white);
}

.image-content{
  position: relative;
}

.card-content{
  padding: 0px 28px 5px;
  background-color: var(--body-background);
  height: 150px;
}

.card-image{
  position: relative;
  height: 200px;
  width: 100%;
  background: var(--white);
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: var(--transition);
}
.card-img:hover{
  transform: scale(1.1);
}


.popular-image-content{
  height: 400px;
  overflow: hidden;
}
.round-corner{
  border-radius: 10px;
}
.popular-image-content>a{
  display: block;
  height: 100%;
  width: 100%;
  color: var(--white);
  transition: var(--transition);
}
.popular-image-content>a:hover{
  scale: 1.1;
}
.popular-card-image{
  height: 400px;
  width: 100%;

}

.popular-card-image .card-img{
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.placeName{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: var(--ff-cursive);
  font-size: xx-large;
  font-weight: var(--fw-600);
  letter-spacing: 0.2rem;
}
/* glassmorp card */
.glassmorp-card{
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 65%;
  height: 50%;
  width: 100%;
  transition: var(--transition);
}
.glassmorp-card:hover{
  top: 60%;
}
.glassmorp-heading{
  color: var(--white);
  font-family: var(--ff-montserrat);
  padding: 10px 10px 0px 10px;
  word-wrap:break-word;
}
.glassmorp-plan{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  font-family: var(--ff-montserrat);
  padding: 10px 10px;

}
/* Google Rupee icon */
.material-symbols-outlined {
  font-size: 20px;
}


/* Buttons */
.moreinfo{
  font-size: medium;
  background: var(--bright-navy-blue);
  color: var(--white);
  padding: 6px 14px;
  border-radius: 6px;
  margin: 14px;
  opacity: 0.8;
  transition: var(--transition);
}
.moreinfo:hover{
  opacity: 1;
}

/* side arrows */

.swiper-navBtn{
  color: var(--bright-navy-blue);
  transition: var(--transition);
  opacity: 0.8;
}
.swiper-navBtn:hover{
  opacity: 1;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: var(--united-nations-blue);
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: var(--bright-navy-blue);
}


/* Footer */

footer{
  height: 400px;
  background: var( --oxford-blue);
  padding: 20px 20px 10px;
  color: var(--cultured);
}
footer .sectionHeading{
  color: var(--white);
}
footer a{
  color: var(--cultured);
}

/* footer-Upper */
.footer-upper{
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* contact-area */
.footer-contact{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  transition: var(--transition);
}
.contact-ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 85%;
  height: 60%;
}
.contact-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  width: 100%;
  gap: 8px;
}

/* footer-Shape */
.footer-shape{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}
.feetImg{
  height: 250px;
  opacity: 0.4;
}
.feetText{
  font-size: large;
}


/* Footer Form */
#footer-form{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  color: var(--cultured);
  justify-content: space-evenly;
  align-items: center;
  transition: var(--transition);
}
#footer-form>input{
  height: 32px;
  width: 60%;
  border: 1px solid var(--cultured);
  padding-inline: 5px;
  color: var(--gainsboro);
  border-radius: 5px;
}
textarea{
  height: 60px;
  width: 60%;
  border: 1px solid var(--cultured);
  padding-inline: 5px;
  color: var(--gainsboro);
  border-radius: 5px;
  resize: none;
  background: var(--oxford-blue);
  font-size: 16px;
  padding: 5px;
}
#footer-Btn{
  font-size: small;
background: var(--bright-navy-blue);
color: var(--white);
padding: 6px 14px;
border-radius: 6px;
/* margin: px; */
opacity: 0.9;
transition: var(--transition);
}
#footer-Btn:hover{
  opacity: 1;
}

/* Footer-Handles */
.footer-handles{
  height: 8%;
  width: 100%;
}
.handler-ul{
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: center;
  margin-inline:auto;
  font-size: 1.3rem;
  transition: var(--transition);
}


/* Footer-Lower */
.footer-lower{
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: small;
}
.footer-bottom-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
