@import url("./base.css");

body{
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--body-background);
}
/* Comman tags */
section,footer{
    height: max-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--section-padding);
    transition: var(--transition);
    width: 100%;
    padding-top: 70px;
}
/* Header */
.header{
    background:rgba(0, 0, 0, 0.5) url("../images/headerBackground.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerNav{
    position: fixed;
    top: -8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 78px;
    transition: var(--transition);
}
.backgroundColor{
    background:rgba(0, 0, 0, 0.8);
}
.headerUl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.headerList>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: var(--white);
    font-weight: var(--fw-400);
    font-size: medium;
    transition: var(--transition);
}
.headerList>a:hover{
    color: var(--blue-ncs-light);
}
#logoImg{
    height: 90px;
    padding-left: calc(var(--inline-padding) * 2);
}

.innerLogo{
    display: none;
}

.hamburger{
    display: none;
}
#hamburgerOpenBtn{
    color: var(--white);
    font-size: calc(var(--fs-8)*2);
}


  /* header-Content */
.headerContent{  
    height: 60%;
    width: 60%;
    margin-inline: auto;
    display: felx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var;
    color: var(--white);
}
.headerMotto{
    font-family: var(--ff-montserrat);
    font-size: 4rem;
    font-weight: var(--fw-800);
    text-align: center;
}
.headerAbout{
    width: 80%;
    /* text-align: center; */
    word-wrap: break-word;
}

/* SECTION  */


.sectionHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-800);
    color: var(--yale-blue);
    text-align: center;
    transition: var(--transition);
}

.sectionDisc{
    font-size: medium;
    text-align: center;
}



/* Sliders */

.slide-container{
    max-width:1120px ;
    width: 100%;
    padding: 40px 40px; 
    /* padding indoubt */
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    /* width: 320px; */
    border-radius: 25px;
    background: var(--white);
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 10px 10px 10px;
}

.card-content{
    padding: 0px 28px 5px;
}

.card-image{
    position: relative;
    height: 200px;
    width: 100%;
    background: var(--white);
    border-radius: 15px;
    overflow: hidden;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: var(--transition);
    /* border:  2px solid var(--bright-navy-blue); */
}
.card-img:hover{
    transform: scale(1.1);
}
.name{
    font-size: var(--fs-18);
    font-weight: var(--fw-700);
    font-family: var(--ff-montserrat);
    color: var(--yale-blue);
    text-align: center;
    transition: var(--transition);
}
.description{
    font-size: small;
    text-align: center;
}

/* Buttons */
.moreinfo{
    font-size: medium;
    background: var(--bright-navy-blue);
    color: var(--white);
    padding: 6px 14px;
    border-radius: 6px;
    margin: 14px;
    opacity: 0.8;
    transition: var(--transition);
}
.moreinfo:hover{
    opacity: 1;
}

/* side arrows */

.swiper-navBtn{
    color: var(--bright-navy-blue);
    transition: var(--transition);
    opacity: 0.8;
}
.swiper-navBtn:hover{
    opacity: 1;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: var(--united-nations-blue);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--bright-navy-blue);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(3,2fr);
    gap: 5px;
    width: 90%;
    margin-inline: auto;
    padding: 40px 40px;
}
.gallery-card-container{
    width: 100%;
    height: 300px;
}
.gallery-card-container:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
}
.gallery-card-container:nth-child(10){
    grid-column-start: 3;
    grid-column-end: 5;
}
.gallery-image{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.gallery img{
    height: 100%;
    width: 100%;
    transition: var(--transition);
    object-fit: cover;
    z-index: 1;
  }
.special-gall-img{
    opacity: 0.5;
}



/* Footer */
/* 
footer{
    height: 400px;
    background: var( --oxford-blue);
    padding: 40px 40px 5px;
    color: var(--cultured);
}
footer .sectionHeading{
    color: var(--white);
}
footer a{
    color: var(--cultured);
}
.footer-upper{
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.handles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo{
    height: 200px;
}
.footer-logo > img{
    height: 100%;
}
.footer-ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(var(--fs-9) * 2);
}
.footer-contact{

}



.footer-lower{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-list{
    padding: 10px 0px;
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* Media Quereies */

@media screen and (max-width:1023px) {
    /* Header */
    .headerNav{
        grid-template-columns: repeat(2, 1fr);
    }
    .headerUl{
        display: flex;
        position: absolute;
        flex-direction: column;
        height: 500px;
        top: 0;
        right: -300px;
        background: var(--gainsboro);
        width: 270px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
        transition: var(--transition);
        z-index: 10;
    }
    .headerList>a{
        color: var(--black-coral);
    }
    .hamburger{
        display: block;
        text-align: end;
        padding-right: calc(var(--inline-padding)*2);
    }
    .blocker {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
        background: rgba(0,0,0,.5);
    }
    .active{
        right: 0;
    }
    .innerLogo{
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    #innerLogoImg{
        height: 90px;
    }
    #hamburgerCloseBtn{
        text-align: end;
        padding: var;
        font-size: calc(var(--fs-8)*2);
        padding-inline: var(--inline-padding);
    }
    .headerList{
        border-bottom: 1px solid var(--spanish-gray);
        width: 170px;
        padding-inline: var(--inline-padding);
    }
    .headerList>a{
        justify-content: flex-start;
    }  
    
    
    /* headerContent */
    .headerMotto{
        font-size: 3.5rem;
    }

    /* Section */
    .sectionHeading{
        font-size: x-large;
        font-family: var(--ff-montserrat);
        font-weight: var(--fw-700);
    }
    .sectionDisc{
        font-size: small;
        
    }
}
@media screen and (max-width:970px){
    /* header */
    .headerNav{
        height: 68px;
    }
    /* Logo */
    #logoImg{
        height: 80px;
    }
    /* Gallery */
    .gallery{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,2fr);
        gap: 5px;
        width: 95%;
      }  
      .gallery-card-container:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .gallery-card-container:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 4;
        display: none;
      }
      .gallery-card-container:nth-child(4){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(6){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(7){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(8){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: none;
      }
      .gallery-card-container:nth-child(9){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(10){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
      }
    
}
@media screen and (max-width:768px) {
    /* header Content */
    .headerMotto{
        font-size: 2.5rem;
    }
    .headerAbout{
        display: none;
    }

    /* slider */
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    /* Section */
    
    /* Gallery */
    .gallery{
        width: 95%;
        padding: 20px 0;
    }
}
@media screen and (max-width:600px){
    .gallery{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,2fr);
        gap: 5px;
        width: 100%;
      }
      
      .gallery-card-container:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .gallery-card-container:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(3){
        display: none;
        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; */
      }
      .gallery-card-container:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(5){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(6){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
      }
      .gallery-card-container:nth-child(7){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
      }
      .gallery-card-container:nth-child(8){
        /* grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6; */
      }
      .gallery-card-container:nth-child(9){
        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6; */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(10){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    
}
@media screen and (max-width:425px) {
    /* header Content */
    .headerMotto{
        font-size: 2rem;
    }
    .slide-container{
        width: 100%;
        padding: 40px 0px;
    }
    /* Section */
    section{
        padding: 60px 10px;
    }
}

@media screen and (max-width:375px) {
    /* header Content */
    .headerMotto{
        font-size: 1.5rem;
    }
}