@import url("./base.css");


/* Header */
.header{
    background:rgba(0, 0, 0, 0.5) url("../images/headerBackground.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerNav{
    position: fixed;
    top: -8px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 78px;
    transition: var(--transition);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    column-gap: 10px;
}
.headerCall{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    color: var;
    color: var(--white);
    font-size: medium;
    transition: var(--transition);
    
}
.headerCall:hover{
    animation: tilt-shaking 0.25s ;
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.backgroundColor{
    background:rgba(0, 0, 0, 0.8);
}
.headerUl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.headerList>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: var(--white);
    font-weight: var(--fw-400);
    font-size: medium;
    transition: var(--transition);
}
.headerList>a:hover{
    scale: 1.05;
    color: var(--blue-ncs-light);
}
#logoImg{
    height: 90px;
    padding-left: var(--inline-padding);
}

.innerLogo{
    display: none;
}

.hamburger{
    display: none;
}
#hamburgerOpenBtn{
    color: var(--white);
    font-size: calc(var(--fs-8)*2);
}


  /* header-Content */
.headerContent{  
    height: 60%;
    width: 60%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var;
    color: var(--white);
}
.headerMotto{
    font-family: var(--ff-montserrat);
    font-size: 4rem;
    font-weight: var(--fw-800);
    text-align: center;
    transition: var(--transition);
}
.headerAbout{
    width: 80%;
    /* text-align: center; */
    word-wrap: break-word;
}




/* Media Quereies */

@media screen and (max-width:1023px) {
    /* Header */
    .headerNav{
        grid-template-columns: 1fr 0.5fr;
    }
    .logo{
        width: 50%;
        column-gap: 5px;
    }
    .headerUl{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        top: 7px;
        right: -300px;
        background: var(--gainsboro);
        width: 250px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        transition: var(--transition);
        z-index: 10;
    }
    .headerList>a{
        color: var(--black-coral);
    }
    .hamburger{
        display: block;
        text-align: end;
        padding-right: calc(var(--inline-padding)*2);
    }
    .blocker {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
        background: rgba(0,0,0,.5);
    }
    .active{
        right: 0;
    }
    .innerLogo{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }
    .innerLogoShape{
        height: 100%;
        width: 70%;
        margin-inline: auto;
    }
    #innerLogoImg{
        height: 90px;
    }
    #hamburgerCloseBtn{
        text-align: end;
        padding: var;
        font-size: calc(var(--fs-8)*2);
        padding-inline: var(--inline-padding);
    }
    .headerList{
        border-bottom: 1px solid var(--spanish-gray);
        width: 170px;
        padding-inline: var(--inline-padding);
    }
    .headerList>a{
        justify-content: flex-start;
    }  
    
    
    /* headerContent */
    .headerMotto{
        font-size: 3.5rem;
    }

    /* Section */
    .sectionHeading{
        font-size: x-large;
        font-family: var(--ff-montserrat);
        font-weight: var(--fw-700);
    }
    .sectionDisc{
        font-size: small;
        
    }

    /* Footer */
    #footer-form>input{
        width: 65%;
    }
    textarea{
        width: 65%;
    }

}
@media screen and (max-width:970px){
    /* header */
    .headerNav{
        height: 68px;
    }
    /* Logo */
    .logo{
        width: 65%;
        column-gap: 5px;
    }
    #logoImg{
        height: 80px;
    }
    /* Gallery */
    .gallery{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,2fr);
        gap: 5px;
        width: 95%;
      }  
      .gallery-card-container:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 4;
      }
      .gallery-card-container:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 4;
        display: none;
      }
      .gallery-card-container:nth-child(4){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(6){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(7){
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(8){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: none;
      }
      .gallery-card-container:nth-child(9){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(10){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
      }


    /* Footer */

    .footer-contact,#footer-form,.footer-lower{
        font-size: small;
    }
   
    #footer-form>input{
        font-size: small;
        height: 30px;
        width: 85%;
    }
    textarea{
        font-size: small;
        width: 85%;
    }
    .handler-ul{
        width: 13%;
    }
}
@media screen and (max-width:768px) {
    /* header Content */
    .headerMotto{
        font-size: 2.5rem;
    }
    .headerAbout{
        display: none;
    }
    .logo{
        width: 70%;
        column-gap: 5px;
    }
    /* slider */
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    /* Section */
    
    /* Gallery */
    .gallery{
        width: 95%;
        padding: 20px 0;
    }


    /* Footer */
    footer{
        height: 450px;
        padding: 10px 10px 5px;
      }
      .footer-handles{
        height: 6%;
      }
      .footer-lower{
        height: 9%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .handler-ul{
        width: 15%;
        justify-content: space-around;
        font-size: 1.1rem;
    }
    .footer-contact{
        width: 45%;
        height: 80%;
    }
    #footer-form{
        height: 80%;
        z-index: 1;
    }
    .footer-shape {
        position: absolute;
        top: -25%;
        left: 50%;
        transform: translate(-50%, -38%);
    }
}
@media screen and (max-width:600px){
    .logo{
        width: 80%;
        column-gap: 5px;
    }

    .gallery{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,2fr);
        gap: 5px;
        width: 100%;
      }
      
      .gallery-card-container:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .gallery-card-container:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(3){
        display: none;
        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; */
      }
      .gallery-card-container:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(5){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .gallery-card-container:nth-child(6){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
      }
      .gallery-card-container:nth-child(7){
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
      }
      .gallery-card-container:nth-child(8){
        /* grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6; */
        display: none;
      }
      .gallery-card-container:nth-child(9){
        /* grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6; */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .gallery-card-container:nth-child(10){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    /* footer */
    .footer-upper{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .footer-contact{
        width: 100%;
        height: 40%;
    }
    #footer-form > h3, .footer-contact > h3{
        text-align: center;
    }
    #footer-form{
        width: 55%;
    }
    .contact-ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 60%;
    }
    .contact-item:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .handler-ul{
        width: 20%;
    }
    .footer-shape {
        transform: translate(-50%, -25%);
    }
}
@media screen and (max-width:500px){
    .logo{
        width: 95%;
        column-gap: 5px;
    }
    /* Hamburger */
    .hamburger{
        padding-right: var(--inline-padding);
    }
    /* Sldier */
    .slide-container {
        padding: 10px 10px 40px;
    }
    footer{
        height: 500px;
    }
    .contact-ul{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 60%;
        margin-bottom: 15px;
    }
    .contact-item:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .contact-item:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .contact-item:nth-child(3){
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #footer-form {
        width: 60%;
    }
    .footer-handles{
        margin: 5px;
    }
    .handler-ul{
        width: 36%;
    }
}
@media screen and (max-width:425px) {
    .logo{
        width: 90%;
        column-gap: 5px;
    }
    /* header Content */
    .headerMotto{
        font-size: 2rem;
    }

    .headerNav {
        height: 60px;
        column-gap: 25px;
        grid-template-columns: 1fr 0.2fr;
      }
      #logoImg{
        height: 70px;
      }

/* slider */
    .slide-container{
        width: 100%;
        padding: 40px 0px;
    }
    /* Section */
    section{
        padding: 50px 10px;
    }


/* Footer */
    #footer-form>input {
        font-size: x-small;
        height: 25px;
    }
    textarea{
        height: 50px;
    }
}

@media screen and (max-width:375px) {
    /* header Content */
    .headerMotto{
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width:300px){
/* Footer */
    footer{
        height: 630px;
    }
} 